<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Packages we build locally end up here, needed since Yarax depends on Yarax.Managed -->
    <add key="local_build" value="./nupkgs" /> 
  </packageSources>
</configuration>