name: Release to nuget
on:
  release:
    types: [published]
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Build
      run: |
        chmod +x build_nuget.sh
        ./build_nuget.sh
    - uses: actions/upload-artifact@v4
      with:
        path: nupkgs/
    # See https://learn.microsoft.com/en-us/nuget/nuget-org/trusted-publishing
    - name: NuGet login
      uses: NuGet/login@v1
      id: login
      with:
        user: ${{ secrets.NUGET_USER }}
      # Push the package
    - name: Push NuGet packages
      run: dotnet nuget push nupkgs/*.nupkg --skip-duplicate --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
